@{ 
    ViewBag.Title = "Home";
}

<h1>Welocome to David Sweet Shop </h1>
<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Product" asp-action="List" class="list-group-item">View Our Products</a>
            <a asp-controller="Home" asp-action="About" class="list-group-item">About us</a>

        </div>
    </div>
</div>
